/* @import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300..700&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  font-family: "Varta", sans-serif;
  font-weight: 350;
  color: #222222;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

@media (width <= 1024px) {
  .hide-on-mobile {
    display: none;
  }
}
